In [289]:
import pandas as pd
df=pd.read_csv('tweet_data.csv')

In [290]:
df.head()

           id  target                                      Scrapped_text
0  2050755250       4  I'm not bunking any class there 2 days. Hey, t...
1  2193272702       0  @Saroyel I've taken my migraine meds, and have...
2  2224796951       0  @PRCog You are killing me with this. I so wish...
3  2069093415       0  @selenagomez cut her hair off. my poor guy fri...
4  1970149748       4           that is hilarious! Https://www.amazon.in

In [291]:
#Text Preprocessing
#1.convert to lowercase
df['to_lower']= df['Scrapped_text'].apply(lambda x: x.lower())

In [292]:
df.head()

,id,target,Scrapped_text,to_lower
0,2050755250,4,"I'm not bunking any class there 2 days. Hey, t...","i'm not bunking any class there 2 days. hey, t..."
1,2193272702,0,"@Saroyel I've taken my migraine meds, and have...","@saroyel i've taken my migraine meds, and have..."
2,2224796951,0,@PRCog You are killing me with this. I so wish...,@prcog you are killing me with this. i so wish...
3,2069093415,0,@selenagomez cut her hair off. my poor guy fri...,@selenagomez cut her hair off. my poor guy fri...
4,1970149748,4,that is hilarious! Https://www.amazon.in,that is hilarious! https://www.amazon.in

In [293]:
#2.Exapnd the contracted words
import re
def contracted(s):
    s = re.sub(r"won't", " will not",s)
    s = re.sub(r"would't", " would not",s)
    s = re.sub(r"could't", " could not",s)
    s = re.sub(r"\'d", " would",s)
    s = re.sub(r"can\'t", " can not",s)
    s = re.sub(r"n\â€™t", " not", s)
    s= re.sub(r"\'re", " are", s)
    s = re.sub(r"\'s", " is", s) 
    s = re.sub(r"\'ll", " will", s)
    s = re.sub(r"\'t",  " not", s)
    s = re.sub(r"\'ve", " have", s)
    s = re.sub(r"\'m", " am", s)
    return s

In [294]:
df['contracted_word']=df['to_lower'].apply(lambda x:contracted(x))

In [295]:
df[['to_lower','contracted_word']].head()

,to_lower,contracted_word
0,"i'm not bunking any class there 2 days. hey, t...","i am not bunking any class there 2 days. hey, ..."
1,"@saroyel i've taken my migraine meds, and have...","@saroyel i have taken my migraine meds, and ha..."
2,@prcog you are killing me with this. i so wish...,@prcog you are killing me with this. i so wish...
3,@selenagomez cut her hair off. my poor guy fri...,@selenagomez cut her hair off. my poor guy fri...
4,that is hilarious! https://www.amazon.in,that is hilarious! https://www.amazon.in

In [296]:
#3.remove URL
def remove_URL(text):
    return re.sub(r'http\S+', '',text)

In [297]:
df['remove_URL']=df['contracted_word'].apply(lambda x:remove_URL(x))
df[['contracted_word','remove_URL']].head()

,contracted_word,remove_URL
0,"i am not bunking any class there 2 days. hey, ...","i am not bunking any class there 2 days. hey, ..."
1,"@saroyel i have taken my migraine meds, and ha...","@saroyel i have taken my migraine meds, and ha..."
2,@prcog you are killing me with this. i so wish...,@prcog you are killing me with this. i so wish...
3,@selenagomez cut her hair off. my poor guy fri...,@selenagomez cut her hair off. my poor guy fri...
4,that is hilarious! https://www.amazon.in,that is hilarious!

In [298]:
#4.Remove html tags
from bs4 import BeautifulSoup
def remove_html(x):
    cleantext = BeautifulSoup(x, "lxml").text
    return cleantext

In [327]:
df['remove_html']=df['remove_URL'].apply(lambda x:remove_html(x))
df[['remove_URL','remove_html']].tail(10)

,remove_URL,remove_html
990,@jmuscara thanks for the advice. i will be sur...,@jmuscara thanks for the advice. i will be sur...
991,@sundeeptoor aww you got a deadline?,@sundeeptoor aww you got a deadline?
992,major focus issues in rehearsal today-wish i w...,major focus issues in rehearsal today-wish i w...
993,loves my life on the d-list with @officialkathyg,loves my life on the d-list with @officialkathyg
994,<br> i killed my furby tooo </br>,i killed my furby tooo
995,@labelsnotlove i woke up thinking the same thing,@labelsnotlove i woke up thinking the same thing
996,@davidfowl there can be only one! envy code r,@davidfowl there can be only one! envy code r
997,"due to my insomnia i will be up real late, so,...","due to my insomnia i will be up real late, so,..."
998,going to the softball game tonight.. 6-8 at ro...,going to the softball game tonight.. 6-8 at ro...
999,...it is really too early.,...it is really too early.

In [300]:
#5.punctuation and Special character removal
def remove_punctuation(text):
    return re.sub('[^a-zA-Z]',' ',text)

In [301]:
df['remove_punc']=df['remove_html'].apply(lambda x:remove_punctuation(x))

In [302]:
df[['remove_html','remove_punc']].head()

,remove_html,remove_punc
0,"i am not bunking any class there 2 days. hey, ...",i am not bunking any class there days hey ...
1,"@saroyel i have taken my migraine meds, and ha...",saroyel i have taken my migraine meds and ha...
2,@prcog you are killing me with this. i so wish...,prcog you are killing me with this i so wish...
3,@selenagomez cut her hair off. my poor guy fri...,selenagomez cut her hair off my poor guy fri...
4,that is hilarious!,that is hilarious

In [303]:
#6.Tokenization
#Tokenization
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [304]:
df['word_tokenize']= df['remove_punc'].apply(lambda x:word_tokenize (x))
df[['remove_punc','word_tokenize']].head()

,remove_punc,word_tokenize
0,i am not bunking any class there days hey ...,"[i, am, not, bunking, any, class, there, days,..."
1,saroyel i have taken my migraine meds and ha...,"[saroyel, i, have, taken, my, migraine, meds, ..."
2,prcog you are killing me with this i so wish...,"[prcog, you, are, killing, me, with, this, i, ..."
3,selenagomez cut her hair off my poor guy fri...,"[selenagomez, cut, her, hair, off, my, poor, g..."
4,that is hilarious,"[that, is, hilarious]"

In [306]:
df['sent_tokenize']= df['remove_punc'].apply(lambda x:sent_tokenize (x))

,remove_punc,sent_tokenize
995,labelsnotlove i woke up thinking the same thing,[ labelsnotlove i woke up thinking the same th...
996,davidfowl there can be only one envy code r,[ davidfowl there can be only one envy code r]
997,due to my insomnia i will be up real late so ...,[due to my insomnia i will be up real late so...
998,going to the softball game tonight at ro...,[going to the softball game tonight at r...
999,it is really too early,[ it is really too early]

In [307]:
#7.stopwords removal
#importing nlp library
import nltk
#Stop words present in the library
stop = nltk.corpus.stopwords.words('english')
stop[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [308]:
#7.remove_stopwords
#6remove stopwords
def remove_stopwords(text):
    output= [i for i in text if i not in stop or i in['not','can','very']]
    return output

In [309]:
df['re_stopwords']=df['word_tokenize'].apply(lambda x: remove_stopwords(x))
df[['word_tokenize','re_stopwords']].head()

,word_tokenize,re_stopwords
0,"[i, am, not, bunking, any, class, there, days,...","[not, bunking, class, days, hey, thats, good]"
1,"[saroyel, i, have, taken, my, migraine, meds, ...","[saroyel, taken, migraine, meds, icepack, not,..."
2,"[prcog, you, are, killing, me, with, this, i, ...","[prcog, killing, wish, going, masquertweet, boo]"
3,"[selenagomez, cut, her, hair, off, my, poor, g...","[selenagomez, cut, hair, poor, guy, friends, g..."
4,"[that, is, hilarious]",[hilarious]

In [310]:
#8. stemming
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()

In [311]:
def stemming_text(text):
    stem_text=[porter_stemmer.stem(word) for word in text]
    return stem_text

In [312]:
df['stem_data']=df['re_stopwords'].apply(lambda x:stemming_text(x))

In [313]:
df[['re_stopwords','stem_data']].head()

,re_stopwords,stem_data
0,"[not, bunking, class, days, hey, thats, good]","[not, bunk, class, day, hey, that, good]"
1,"[saroyel, taken, migraine, meds, icepack, not,...","[saroyel, taken, migrain, med, icepack, not, g..."
2,"[prcog, killing, wish, going, masquertweet, boo]","[prcog, kill, wish, go, masquertweet, boo]"
3,"[selenagomez, cut, hair, poor, guy, friends, g...","[selenagomez, cut, hair, poor, guy, friend, go..."
4,[hilarious],[hilari]

In [314]:
#lemmatization
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [315]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text

In [316]:
df['lemma_data']=df['re_stopwords'].apply(lambda x:lemmatizer(x))

In [317]:
df[['re_stopwords','lemma_data']].head(2)

,re_stopwords,lemma_data
0,"[not, bunking, class, days, hey, thats, good]","[not, bunking, class, day, hey, thats, good]"
1,"[saroyel, taken, migraine, meds, icepack, not,...","[saroyel, taken, migraine, med, icepack, not, ..."

In [318]:
df[['stem_data','lemma_data']].tail(5)

,stem_data,lemma_data
995,"[labelsnotlov, woke, think, thing]","[labelsnotlove, woke, thinking, thing]"
996,"[davidfowl, can, one, envi, code, r]","[davidfowl, can, one, envy, code, r]"
997,"[due, insomnia, real, late, java, go, drink, m...","[due, insomnia, real, late, java, going, drink..."
998,"[go, softbal, game, tonight, rotari, park, com...","[going, softball, game, tonight, rotary, park,..."
999,"[realli, earli]","[really, early]"

In [319]:
#9.remove the words having length less than 2
def clean_len(text):
    return[i for i in text if len(i)>2]

In [320]:
df['clean_len']=df['lemma_data'].apply(lambda x:clean_len(x))

In [321]:
df[['lemma_data','clean_len']].tail()

,lemma_data,clean_len
995,"[labelsnotlove, woke, thinking, thing]","[labelsnotlove, woke, thinking, thing]"
996,"[davidfowl, can, one, envy, code, r]","[davidfowl, can, one, envy, code]"
997,"[due, insomnia, real, late, java, going, drink...","[due, insomnia, real, late, java, going, drink..."
998,"[going, softball, game, tonight, rotary, park,...","[going, softball, game, tonight, rotary, park,..."
999,"[really, early]","[really, early]"

In [322]:
#10.Get Tidy Data
def convert_data(text):
    return ' '.join(text)

In [323]:
df['Tidy_Data']=df['clean_len'].apply(lambda x:convert_data(x))

In [330]:
df[['Scrapped_text','Tidy_Data']].head()

,Scrapped_text,Tidy_Data
0,"I'm not bunking any class there 2 days. Hey, t...",not bunking class day hey thats good
1,"@Saroyel I've taken my migraine meds, and have...",saroyel taken migraine med icepack not going away
2,@PRCog You are killing me with this. I so wish...,prcog killing wish going masquertweet boo
3,@selenagomez cut her hair off. my poor guy fri...,selenagomez cut hair poor guy friend going cru...
4,that is hilarious! Https://www.amazon.in,hilarious

In [325]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
porter_stemmer = PorterStemmer()
lemma= WordNetLemmatizer()
stop=set(stopwords.words('english'))

In [326]:
def preprocess(review):
    review=str(review).lower()
    review=contracted(review)
    review=re.sub(r'http\S+', '',review)
    review=BeautifulSoup(review, "lxml").text
    review=re.sub('[^a-zA-Z]',' ',review)
    review=word_tokenize(review)
    review=[i for i in review if i not in stop or i in[['can','not','very']]]
    review=[lemma.lemmatize(word=i,pos='v')for i in review ]
    review=[i for i in review if len(i)> 2]
    review=' '.join(review)
    return review

In [331]:
d=pd.read_csv('d1.csv')
d['Clean']=d['Scrapped_text'].apply(preprocess)

In [332]:
d.tail()

,target,Scrapped_text,Clean
995,4,@labelsnotlove i woke up thinking the same thing,labelsnotlove wake think thing
996,4,@davidfowl There can be only one! Envy Code R,davidfowl one envy code
997,4,"Due to my insomnia I will be up real late, so,...",due insomnia real late java drink morning drin...
998,4,Going to the softball game tonight.. 6-8 at ro...,softball game tonight rotary park come support...
999,0,...it's really too early.,really early